<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933593275519-09c2sk88p2vi90bcmc3rsuc1heaml98p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933593275519-09c2sk88p2vi90bcmc3rsuc1heaml98p</string>
	<key>API_KEY</key>
	<string>AIzaSyCgFLiwRTpgEOVzMd0XU1FDSknW1TAfWrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>933593275519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mroom.smartdock</string>
	<key>PROJECT_ID</key>
	<string>smartdock-3c148</string>
	<key>STORAGE_BUCKET</key>
	<string>smartdock-3c148.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933593275519:ios:9f58feedfb8a5c2f</string>
	<key>DATABASE_URL</key>
	<string>https://smartdock-3c148.firebaseio.com</string>
</dict>
</plist>